nav{
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: antiquewhite;
}
.link{
  padding: 10px 10%;
  text-transform: uppercase;
  text-decoration: none;
  color: black
}
.general{
display: flex;
flex-direction: column;
align-items: center;
}
.products {
display: flex;
justify-content: center;


}

.product-card {
display: flex;
flex-direction: column;
align-items: center;

}

body {

  background-color: #f6f6f6;

}



.cont {

  display: flex;

  justify-content: center;

}

.back {

  background-color: #f4eddd; 

  padding: 20px;

  margin-left: 20px;

  margin-right: 20px;

    font-family: 'Encode Sans Semi Expanded', sans-serif;



}

.change {

  background-color: black;

  color: white;

  padding: 10px;

  border: none;

  font-family: 'Encode Sans Semi Expanded', sans-serif;

}

h3, h4 {

  font-family: 'Encode Sans Semi Expanded', sans-serif;

}

button {

  margin: 10px;

}
